/* 
    Document   : mystyle
    Created on : 16.02.2013, 20:39:24
    Author     : serjoga
    Description:
        Purpose of the stylesheet follows.
*/
.container{
    width: 100%;
    position: relative;
    margin: 0 auto;
}


/* Основной стиль */
.lb-1 { margin:0 auto; padding-left:7px; width: 1062px; height:68px; float:left;} /* 100% */
.lb-1 img {margin:0!important; padding:0!important; float: left; }



/* Apple-like Search Box */


#apple {
   height: 25px;
   padding: 22px 0 0 30px;
   float:left;
/*   visibility: hidden;*/
}

#apple #search {

}

#apple #search input[type="text"] {
    background: #888;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #ccc;
    width:150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#apple #search input[type="text"]:focus {
    background: #fcfcfc;
    color: #ccc;
    width: 200px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    }

.sendsubmit {
width:  43px; 
/*// длина кнопки*/
height: 18px;
/*// высота кнопки*/
margin-right: -40px;
margin-bottom: -5px;
/*margin-top: 6px;*/
padding:0;
border: 0;
background: transparent url(http://po-mera.ru/image_db/theme/1931528/search-white.png) no-repeat center top;
text-indent: -1000em;
cursor: pointer; 
cursor: hand; 
position:relative;
left:35px;
}

.sendsubmit:hover {
background: transparent url(http://po-mera.ru/image_db/theme/1931528/search-dark.png) no-repeat center top;
}

#entry{
width:  33px; 
/*// длина кнопки*/
height: 33px;
/*// высота кнопки*/
margin-right: -30px;
padding:0;
border: 0;
background: transparent url(http://shop.po-mera.ru/design/search-none.png) no-repeat center top;
text-indent: -1000em;
cursor: pointer; 
cursor: hand; 
position:relative;
left:35px;
}

button.btn_main{

}

button.btn_main:hover{
 color: brown;   
}

.searchwindow{
width:371px;
height:68px;
background: url(http://po-mera.ru/image_db/theme/1931528/1pixheadfon.png) repeat-x;
float:left;
}


.searchpole{
width:306px;
height:68px;
float:left;
}

.exitbutton{
width:65px;
height:68px;
/*background: #d00;*/
float:left;
}

#art_block tbody tr td{
    text-align: center;
}

#color_msg{
  width: 330px;background-color: #F5BFE6;text-align: left;margin-left: 127px;height: 47px
}

/* CSS for the scrollers */
div.horizontal_scroller, div.vertical_scroller{
        position:relative;
        margin-left: 18px;
        height:27px;
        width:96%;
        display:block;
        overflow:hidden;
}
div.scrollingtext{
        position:absolute;
        white-space:nowrap;
        font-size:1.0em;
        color:#000f00;
}
fieldset.fs{
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
/*    border-color: #efefef;*/
}
div.footer
{       position: relative;
        margin: 0 auto;
	text-align: center;
	padding: 1.5em 0em 1.5em 0em;
        height: 15px;
        width: 1062px;
}